
TP2/algorithm/src/main/resources/dynamic100.txt

TP2/algorithm/target/classes/algorithm/OffLattice.class

TP2/algorithm/target/classes/dynamic100.txt

TP2/algorithm/target/classes/utils/Utils.class

TP2/grapher/results/results_ovito.dump

TP2/algorithm/src/main/resources/coeffList.txt

TP2/algorithm/src/main/resources/dynamic300.txt

TP2/algorithm/src/main/resources/static100.txt

TP2/algorithm/src/main/resources/static300.txt

TP2/algorithm/target/classes/coeffList.txt

TP2/algorithm/target/classes/dynamic300.txt

TP2/algorithm/target/classes/static100.txt

TP2/algorithm/target/classes/static300.txt

TP2/algorithm/target/classes/test.class

TP2/grapher/__pycache__/ovito_visualization.cpython-39.pyc

TP2/grapher/__pycache__/plots.cpython-39.pyc

TP2/grapher/__pycache__/utils.cpython-39.pyc
