
TP2/algorithm/src/main/resources/dynamic100.txt

TP2/algorithm/target/classes/algorithm/OffLattice.class

TP2/algorithm/target/classes/dynamic100.txt

TP2/algorithm/target/classes/utils/Utils.class

TP2/grapher/results/results_ovito.dump

TP2/algorithm/src/main/resources/coeffList.txt

TP2/algorithm/src/main/resources/dynamic300.txt

TP2/algorithm/src/main/resources/static100.txt

TP2/algorithm/src/main/resources/static300.txt

TP2/algorithm/target/classes/coeffList.txt

TP2/algorithm/target/classes/dynamic300.txt

TP2/algorithm/target/classes/static100.txt

TP2/algorithm/target/classes/static300.txt

TP2/algorithm/target/classes/test.class

TP2/grapher/__pycache__/ovito_visualization.cpython-39.pyc

TP2/grapher/__pycache__/plots.cpython-39.pyc

TP2/grapher/__pycache__/utils.cpython-39.pyc

.DS_Store

TP2/algorithm/src/main/resources/coeff_0.txt

TP2/algorithm/src/main/resources/coeff_1.txt

TP2/algorithm/src/main/resources/coeff_2.txt

TP2/algorithm/src/main/resources/coeff_3.txt

TP2/algorithm/src/main/resources/coeff_4.txt

TP2/algorithm/src/main/resources/coeff_5.txt

TP2/algorithm/src/main/resources/noises.txt

TP2/algorithm/target/classes/noises.txt

TP2/algorithm/src/main/resources/coeff_10.txt

TP2/algorithm/src/main/resources/coeff_11.txt

TP2/algorithm/src/main/resources/coeff_12.txt

TP2/algorithm/src/main/resources/coeff_13.txt

TP2/algorithm/src/main/resources/coeff_14.txt

TP2/algorithm/src/main/resources/coeff_15.txt

TP2/algorithm/src/main/resources/coeff_16.txt

TP2/algorithm/src/main/resources/coeff_17.txt

TP2/algorithm/src/main/resources/coeff_18.txt

TP2/algorithm/src/main/resources/coeff_19.txt

TP2/algorithm/src/main/resources/coeff_20.txt

TP2/algorithm/src/main/resources/coeff_21.txt

TP2/algorithm/src/main/resources/coeff_22.txt

TP2/algorithm/src/main/resources/coeff_23.txt

TP2/algorithm/src/main/resources/coeff_24.txt

TP2/algorithm/src/main/resources/coeff_25.txt

TP2/algorithm/src/main/resources/coeff_26.txt

TP2/algorithm/src/main/resources/coeff_27.txt

TP2/algorithm/src/main/resources/coeff_28.txt

TP2/algorithm/src/main/resources/coeff_29.txt

TP2/algorithm/src/main/resources/coeff_30.txt

TP2/algorithm/src/main/resources/coeff_31.txt

TP2/algorithm/src/main/resources/coeff_32.txt

TP2/algorithm/src/main/resources/coeff_33.txt

TP2/algorithm/src/main/resources/coeff_34.txt

TP2/algorithm/src/main/resources/coeff_35.txt

TP2/algorithm/src/main/resources/coeff_36.txt

TP2/algorithm/src/main/resources/coeff_37.txt

TP2/algorithm/src/main/resources/coeff_38.txt

TP2/algorithm/src/main/resources/coeff_39.txt

TP2/algorithm/src/main/resources/coeff_40.txt

TP2/algorithm/src/main/resources/coeff_41.txt

TP2/algorithm/src/main/resources/coeff_42.txt

TP2/algorithm/src/main/resources/coeff_43.txt

TP2/algorithm/src/main/resources/coeff_44.txt

TP2/algorithm/src/main/resources/coeff_45.txt

TP2/algorithm/src/main/resources/coeff_46.txt

TP2/algorithm/src/main/resources/coeff_47.txt

TP2/algorithm/src/main/resources/coeff_48.txt

TP2/algorithm/src/main/resources/coeff_49.txt

TP2/algorithm/src/main/resources/coeff_50.txt

TP2/algorithm/src/main/resources/coeff_51.txt

TP2/algorithm/src/main/resources/coeff_52.txt

TP2/algorithm/src/main/resources/coeff_53.txt

TP2/algorithm/src/main/resources/coeff_54.txt

TP2/algorithm/src/main/resources/coeff_55.txt

TP2/algorithm/src/main/resources/coeff_56.txt

TP2/algorithm/src/main/resources/coeff_57.txt

TP2/algorithm/src/main/resources/coeff_58.txt

TP2/algorithm/src/main/resources/coeff_59.txt

TP2/algorithm/src/main/resources/coeff_6.txt

TP2/algorithm/src/main/resources/coeff_60.txt

TP2/algorithm/src/main/resources/coeff_61.txt

TP2/algorithm/src/main/resources/coeff_62.txt

TP2/algorithm/src/main/resources/coeff_7.txt

TP2/algorithm/src/main/resources/coeff_8.txt

TP2/algorithm/src/main/resources/coeff_9.txt

TP2/algorithm/target/classes/coeff_0.txt

TP2/algorithm/target/classes/coeff_1.txt

TP2/algorithm/target/classes/coeff_10.txt

TP2/algorithm/target/classes/coeff_11.txt

TP2/algorithm/target/classes/coeff_12.txt

TP2/algorithm/target/classes/coeff_13.txt

TP2/algorithm/target/classes/coeff_14.txt

TP2/algorithm/target/classes/coeff_15.txt

TP2/algorithm/target/classes/coeff_16.txt

TP2/algorithm/target/classes/coeff_17.txt

TP2/algorithm/target/classes/coeff_18.txt

TP2/algorithm/target/classes/coeff_19.txt

TP2/algorithm/target/classes/coeff_2.txt

TP2/algorithm/target/classes/coeff_20.txt

TP2/algorithm/target/classes/coeff_21.txt

TP2/algorithm/target/classes/coeff_22.txt

TP2/algorithm/target/classes/coeff_23.txt

TP2/algorithm/target/classes/coeff_24.txt

TP2/algorithm/target/classes/coeff_25.txt

TP2/algorithm/target/classes/coeff_26.txt

TP2/algorithm/target/classes/coeff_27.txt

TP2/algorithm/target/classes/coeff_28.txt

TP2/algorithm/target/classes/coeff_29.txt

TP2/algorithm/target/classes/coeff_3.txt

TP2/algorithm/target/classes/coeff_30.txt

TP2/algorithm/target/classes/coeff_31.txt

TP2/algorithm/target/classes/coeff_32.txt

TP2/algorithm/target/classes/coeff_33.txt

TP2/algorithm/target/classes/coeff_34.txt

TP2/algorithm/target/classes/coeff_35.txt

TP2/algorithm/target/classes/coeff_36.txt

TP2/algorithm/target/classes/coeff_37.txt

TP2/algorithm/target/classes/coeff_38.txt

TP2/algorithm/target/classes/coeff_39.txt

TP2/algorithm/target/classes/coeff_4.txt

TP2/algorithm/target/classes/coeff_40.txt

TP2/algorithm/target/classes/coeff_41.txt

TP2/algorithm/target/classes/coeff_42.txt

TP2/algorithm/target/classes/coeff_43.txt

TP2/algorithm/target/classes/coeff_44.txt

TP2/algorithm/target/classes/coeff_45.txt

TP2/algorithm/target/classes/coeff_46.txt

TP2/algorithm/target/classes/coeff_47.txt

TP2/algorithm/target/classes/coeff_48.txt

TP2/algorithm/target/classes/coeff_49.txt

TP2/algorithm/target/classes/coeff_5.txt

TP2/algorithm/target/classes/coeff_50.txt

TP2/algorithm/target/classes/coeff_51.txt

TP2/algorithm/target/classes/coeff_52.txt

TP2/algorithm/target/classes/coeff_53.txt

TP2/algorithm/target/classes/coeff_54.txt

TP2/algorithm/target/classes/coeff_55.txt

TP2/algorithm/target/classes/coeff_56.txt

TP2/algorithm/target/classes/coeff_57.txt

TP2/algorithm/target/classes/coeff_58.txt

TP2/algorithm/target/classes/coeff_59.txt

TP2/algorithm/target/classes/coeff_6.txt

TP2/algorithm/target/classes/coeff_60.txt

TP2/algorithm/target/classes/coeff_61.txt

TP2/algorithm/target/classes/coeff_62.txt

TP2/algorithm/target/classes/coeff_7.txt

TP2/algorithm/target/classes/coeff_8.txt

TP2/algorithm/target/classes/coeff_9.txt

TP2/visualization/__pycache__/ovito_visualization.cpython-39.pyc

TP2/visualization/__pycache__/plots.cpython-39.pyc

TP2/visualization/__pycache__/utils.cpython-39.pyc

TP2/visualization/results/results_ovito.dump
